* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f7;
  color: #363636;
}

.contain {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.border {
  border: 1px  solid #d4dc9f;
}

/* app header */
.app-header {
  background-color: #363636;
  color: white;
  text-align: center;
}

.app-icon {
  width: 80px;
}

.app-title {
  font-size: 2rem;
}

.post {
  color: #e6edb7;
  font-weight: 100;
  font-size: 1.25rem;
  display: block;
}

@media only screen and (min-width: 600px)  {
  .app-header .contain {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .app-icon {
    margin-right: 2rem;
  }

  .post {
    display: inline;
    font-size: inherit;
  }
}

/* materials component */
.add-button {
  background: #e6edb7;
  border: none;
  border-radius: 6px;
  padding: .5rem 1.2rem;
  color: #363636;
  font-size: 1rem;
  border: 1px solid #d4dc9f;
}
.add-button:hover {
  cursor: pointer;
  background: #cdd695;
  border: 1px solid #b8bf88;
}

.material-cell.add-cell {
  padding: 1rem 0;
}

.material {
  width: 100%;
}

.material-table-list {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}

.material-table-list label {
  font-weight: bold;
}

.material-item:nth-of-type(odd){
  background-color: #f7f9e9;
}
.material-item:nth-of-type(even){
  background-color: #fefff6;
}

.material-cell {
  display: block;
  padding: .5rem;
  margin: .5rem 0;
  width: 100%;
}

.items .material-cell {
  margin: 0;
}

.material-header {
  display: none;
  font-weight: bold;
  background-color: #e6edb7;
}

.material-adder input {
  border: 2px solid #d4dc9f;
}

.material-item span:first-of-type {
  font-weight: bold;
}

@media only screen and (min-width: 600px)  {
  .material-table-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .material-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
  }

  .items .material-cell {
    margin: 0.5rem 0;
  }

  .material-item span:first-of-type {
    font-weight: normal
  }
  .material-cell:last-of-type {
    text-align: right;
  }

  .material-header {
    display: static;
  }

  .type-number {
    text-align: right;
  }
}

/* app footer */
.app-footer {
  bottom: 0px;
  width: 100%;
  margin-top: -2rem;
}

@media only screen and (min-width: 600px)  {
  .tally-totals {
    font-size: 1.5rem;
  }
}
